body, html {
    background: #121313;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Alegreya Sans', sans-serif; */
    font-family: 'Hind Siliguri', sans-serif;
    color: #EFEDDE;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr 16fr 3fr 1fr;
}

.topbar {
    grid-row: 1 / 2;
    background: #121313;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#contact {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 0;
    justify-self: center;
    align-self: start;
    margin-top: .4em;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #D7D369;

}

#logo {
    grid-column: 1 / 2;
    grid-row: 1/2;
    z-index: 0;
    justify-self: start;
    align-self: start;
    margin-top: .8em;
    margin-left: 0.4em;
}

#logo-small {
    height: 40px;
}

#menu {
    justify-self: end;
    align-self: start;
    margin-top: 1em;
    border-right: 0.4em;
    font-size: 6vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
}

:placeholder-shown {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}

input {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    border: 3px solid #121313
}

textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    border: 3px solid #121313
}

.subhead {
    grid-row: 2 / 3;
    color: #EFEDDE;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    justify-self: center;
    align-self: end;
}

.contact-container {
    grid-row: 3 / 4;
    height: 100%;
    display: grid;
    margin: 0 7vw;
    /* border: 2px solid #D7D369; */
}

.form-container {
    background: #1CA199;
    display: grid;
    height: 100%;
    border: 3px solid #D7D369;
    grid-template-rows: .5fr 2fr .5fr 2fr .5fr 8fr .5fr 2fr .5fr;
    grid-template-columns: 1fr 12fr 1fr;
}

#name {
    grid-column: 2 / 3;
    grid-row: 2/3;
}
#email {
    grid-column: 2 / 3;
    grid-row: 4/5;
}
#message {
    grid-column: 2 / 3;
    grid-row: 6/7;
}

button {
    grid-column: 2 / 3;
    grid-row: 8/9;
    color: #EFEDDE;
    background: #121313;
    padding: .5em 2em;
    border: 1.5px solid #D7D369;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 2vh;
    text-align: center;
}

button:hover {
    color: #121313;
    background: #D7D369;
    padding: .5em 2em;
    border: 1px solid #121313;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 2vh;
    text-align: center;
}


footer {
    overflow: hidden;
    grid-row: 5 / 6;
    color: #D7D369;
    align-self: end;
    justify-self: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: .5em;
}

#resume {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-decoration: none;
    color: #EFEDDE;
    font-family: 'Oswald', sans-serif;
    grid-column: 3/5;
    justify-self: center;
}

#resume:hover { 
}

.social {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr)

}

.socialicon {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.socialicon img {
    height: 6vh; 
}

.socialicon a:first-child {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}
.socialicon a:nth-child(2) {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}

.socialicon a:nth-child(3) {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;
}

.socialicon a:nth-child(4) {
    grid-column: 4 / 5;
    align-self: center;
    justify-self: center;
}

label {
    display: block;
    float: right;
    cursor: pointer;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 50px;
}

.menu {
    /* width: 100vw; */
    background: #1CA199;
    display: none;
}

.menu a {
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    font-weight: 700;
    text-decoration: none;
    line-height: 7vh;
}

.menu a:hover {
    color: #D7D369;
}

.menu a:active {
    color: #D7D369;
}

.menu a:visited {
    color: #121313;
}

#toggle:checked + .menu {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    border-bottom: 1px solid #D7D369;
    font-family: 'Oswald', sans-serif;
}

#toggle:checked + .menu a{

    align-self: center;
    justify-self: center
}

#togle:checked + label {
}

.nav {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 1;
    height: auto;
    min-height: 50px;
    line-height: 50px;
    height: 70px;
    line-height: 50px;
    justify-self: end;
    align-self: start;
}

#toggle {
    display: none;
}
