body, html {
    background: #121313;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Alegreya Sans', sans-serif; */
    font-family: 'Hind Siliguri', sans-serif;
    color: #EFEDDE;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: #121313;
    display: grid;
    grid-template-columns: 1fr 98fr 1fr;
    grid-template-rows: 1fr 30fr 40fr 10fr 5fr;
}

.logo {
    grid-column: 2 / 3;
    grid-row: 2/3;
    background: #121313;
    display: grid;
}

.logo img {
    align-self: center;
    justify-self: center;
}

.menu {
    margin-top: 3vh;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3/4;

}

.menu a {
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #EFEDDE;
    text-align: center;
    padding-left: 0;
    font-size: 2.3em;
    text-decoration: underline #1CA199;
    text-underline-position: under;
    letter-spacing: 0.2px;
}

.icons {
    grid-column: 2 / 3;
    grid-row: 4/5;
    display: grid;
    background: #121313;
}

.iconarea {
    display: grid;
    justify-self: center;
    align-self: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    margin-top: 1em;
}

.iconarea img {
    background: #121313;
    align-self: center;
    justify-self: center;
    height: 8vh;
}



footer {
    grid-column: 2 / 3;
    grid-row: 5/6;
    color: #D7D369;
    align-self: end;
    justify-self: center;
    margin-bottom: .5em;
    font-family: 'Oswald', sans-serif;
}